.rule_outer_css {
    border: 1px solid #ccc;
}

.padding_set {
    padding: 10px;
}

.rule_name_search {
    width: 250px;
    float: left;
}

.select_down {
    margin-left: 10px;
    width: 200px;
}

.button_left {
    margin-left: 10px;
}

.top_set {
    margin-top: 20px;
}

.table_scol {
    height: 400px;
    overflow: auto;
}

.middleSet {
    margin-left: 50%;
}

.tip_style {
    background-color: rgba(0, 122, 186, 0.11428571428571431);
}

.title_style {
    font-size: 14px;
    font-weight: bold;
}

.lineStyle div span {
    display: inline-block;
}

.a-row {
    display: flex;
    flex-wrap: nowrap;
}

.a-row .a-row-col {
    flex: 0 0 49.5%;
    width: 49.5%;
}

.a-row .a-row-col+.a-row-col {
    margin-left: 1%;
}

.a-row .a-row-col h5.subtitle {
    font-weight: bold;
    font-size: 16px;
}

.a-row .a-row-col h5.subtitle .icon1 {
    margin-right: 4px;
    color: rgb(0, 186, 173);
    font-size: 20px;
    line-height: 20px;
}

.a-row .a-row-col h5.subtitle .icon2 {
    margin-right: 4px;
    color: rgb(165, 216, 63);
    font-size: 20px;
    line-height: 20px;
}